USE HotelManagement
GO 
-- TAO ID CUSTOMER TU DONG
CREATE 
--ALTER
FUNCTION CREATE_IDCUSTOMER()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @ID CHAR(5)
	IF(NOT EXISTS (SELECT *
				   FROM CUSTOMER))
	BEGIN
		SET @ID = 'C0001'
		RETURN @ID
	END
	ELSE
	BEGIN
		SELECT @ID = CAST(CAST(MIN(RIGHT(ID_CUSTOMER,4)) AS INT) + 1 AS CHAR(5))
		FROM CUSTOMER
		WHERE (RIGHT(ID_CUSTOMER,4) + 1) NOT IN (SELECT RIGHT(ID_CUSTOMER,4) FROM CUSTOMER)
	END

	DECLARE @TEMP INT = CAST(@ID AS INT)
	DECLARE @COUNT INT = 0

	WHILE(@TEMP > 0)
	BEGIN
		SET @TEMP = @TEMP/10
		SET @COUNT = @COUNT + 1
	END
    
	DECLARE @CNT int = 0
	WHILE(@CNT <> (4-@COUNT))
	BEGIN
		SET @ID = '0' + @ID
		SET @CNT = @CNT + 1
	END
	SET @ID = 'C' + @ID
	RETURN @ID
END
GO
-- INSERT CUSTOMER
CREATE
--ALTER
PROC USP_AddCUSTOMER(
	@NAME NVARCHAR(30),
	@GENDER NCHAR(3),
	@BIRTHDAY DATE,
	@EMAIL CHAR(20),
	@PHONE CHAR(11),
	@IDENTIFY_CARD CHAR(14)
	)
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(EXISTS (SELECT NAME FROM CUSTOMER WHERE NAME = @NAME))
		BEGIN
			ROLLBACK TRAN
			RETURN 0
		END
	END TRY

	BEGIN CATCH
		print(N'Thông tin không hợp lệ')
		ROLLBACK TRAN
	END CATCH
	DECLARE @IDCUSTOMER CHAR(5) = DBO.CREATE_IDCUSTOMER()
	INSERT INTO CUSTOMER VALUES(@IDCUSTOMER,@NAME,@GENDER,@BIRTHDAY,@EMAIL, @PHONE, @IDENTIFY_CARD, NULL)
COMMIT

GO

----------------------------------
-- TAO ID BOOKING_FORM TU DONG
 
USE HotelManagement
GO 

CREATE
--ALTER
FUNCTION CREATE_IDBOOKINGFORM()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @ID CHAR(5)
	IF(NOT EXISTS (SELECT *
				   FROM BOOKING_FORM))
	BEGIN
		SET @ID = 'BK001'
		RETURN @ID
	END
	ELSE
	BEGIN
		--SELECT @ID = CAST(CAST(MAX(RIGHT(ID_BOOKING,3)) AS INT) AS CHAR(5))
		--FROM BOOKING_FORM
		--WHERE (RIGHT(ID_BOOKING,3) + 1) NOT IN (SELECT RIGHT(ID_BOOKING,3) FROM BOOKING_FORM)
		SELECT @ID = ID_BOOKING
        FROM BOOKING_FORM
        WHERE CAST(SUBSTRING(ID_BOOKING, 3, 3) AS INT) = (SELECT MAX(CAST(SUBSTRING(ID_BOOKING, 3, 3) AS INT)) FROM BOOKING_FORM)
	END
	 -- Tăng giá trị lên 1
        DECLARE @NewID INT
        SET @NewID = CAST(SUBSTRING(@ID, 3, 3) AS INT) + 1
        
        -- Chuyển đổi giá trị thành chuỗi ký tự CHAR
        SET @ID = 'BK' + RIGHT('00' + CAST(@NewID AS VARCHAR(3)), 3)
    RETURN @ID
END
GO
-- INSERT BOOKINGFORM
USE HotelManagement
GO
CREATE
--ALTER
PROC USP_AddBOOKINGFORM(
	@IDBOOKINGFORM CHAR(5),
	@ARRIVAL_DATE DATETIME,
	@DEPARTURE_DATE DATETIME,
	@AMOUNT INT,
	@PRICE INT,
	@STATUS NVARCHAR(20),
	@SPECIAL_REQUIREMENTS NVARCHAR(200),
	@PAYMENT_METHODS NVARCHAR(20),
	@CUSTOMER CHAR(5)
	)
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(EXISTS (SELECT ARRIVAL_DATE FROM BOOKING_FORM WHERE ARRIVAL_DATE = @ARRIVAL_DATE))
		BEGIN
			ROLLBACK TRAN
			RETURN 0
		END
	END TRY

	BEGIN CATCH
		print(N'Thông tin không hợp lệ')
		ROLLBACK TRAN
	END CATCH
	SET @IDBOOKINGFORM = DBO.CREATE_IDBOOKINGFORM()
	INSERT INTO BOOKING_FORM VALUES(@IDBOOKINGFORM, @ARRIVAL_DATE,@DEPARTURE_DATE,@AMOUNT,@PRICE,@STATUS,@SPECIAL_REQUIREMENTS,@PAYMENT_METHODS,@CUSTOMER)
COMMIT

GO

---------------------------------------
-- TAO ID INFORMATION_FORM TU DONG
 
USE HotelManagement
go
CREATE
--ALTER
FUNCTION CREATE_IDINFORMATIONFORM()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @ID CHAR(5)
	IF(NOT EXISTS (SELECT *
				   FROM INFORMATION_FORM))
	BEGIN
		SET @ID = 'I0001'
		RETURN @ID
	END
	ELSE
	BEGIN
		SELECT @ID = ID_INFORMATION_FORM
        FROM INFORMATION_FORM
        WHERE CAST(SUBSTRING(ID_INFORMATION_FORM, 2, 4) AS INT) = (SELECT MAX(CAST(SUBSTRING(ID_INFORMATION_FORM, 2, 4) AS INT)) FROM INFORMATION_FORM)
	END
	 -- Tăng giá trị lên 1
        DECLARE @NewID INT
        SET @NewID = CAST(SUBSTRING(@ID, 2, 4) AS INT) + 1
        
        -- Chuyển đổi giá trị thành chuỗi ký tự CHAR
        SET @ID = 'I' + RIGHT('000' + CAST(@NewID AS VARCHAR(4)), 4)
    RETURN @ID
END
GO
-- INSERT INFORMATION FORM
USE HotelManagement
go
CREATE
--ALTER
PROC USP_AddINFORMATIONFORM(
	@TYPE NVARCHAR(20),
	@ARRIVAL_DATE DATE,
	@NUMBER_ROOMS INT,
	@NUMBER_STAYS INT,
	@SPECIAL_REQUIREMENTS NVARCHAR(200)
	)
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(EXISTS (SELECT ARRIVAL_DATE FROM BOOKING_FORM WHERE ARRIVAL_DATE = @ARRIVAL_DATE))
		BEGIN
			ROLLBACK TRAN
			RETURN 0
		END
	END TRY

	BEGIN CATCH
		print(N'Thông tin không hợp lệ')
		ROLLBACK TRAN
	END CATCH
	DECLARE @IDINFORMATIONFORM CHAR(5) = DBO.CREATE_IDINFORMATIONFORM()
	INSERT INTO INFORMATION_FORM VALUES(@IDINFORMATIONFORM,@TYPE,@ARRIVAL_DATE,@NUMBER_ROOMS,@NUMBER_STAYS,@SPECIAL_REQUIREMENTS)
COMMIT

GO

--------------------------------------------
-- TAO ID SUPPLY_FORM TU DONG
 
USE HotelManagement
go
CREATE
--ALTER
FUNCTION CREATE_IDSUPPLYFORM()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @ID CHAR(5)
	IF(NOT EXISTS (SELECT *
				   FROM SUPPLY_FORM))
	BEGIN
		SET @ID = 'I0001'
		RETURN @ID
	END
	ELSE
	BEGIN
		SELECT @ID = ID_INFORMATION_FORM
        FROM INFORMATION_FORM
        WHERE CAST(SUBSTRING(ID_INFORMATION_FORM, 2, 4) AS INT) = (SELECT MAX(CAST(SUBSTRING(ID_INFORMATION_FORM, 2, 4) AS INT)) FROM INFORMATION_FORM)
	END
	 -- Tăng giá trị lên 1
        DECLARE @NewID INT
        SET @NewID = CAST(SUBSTRING(@ID, 2, 4) AS INT) + 1
        
        -- Chuyển đổi giá trị thành chuỗi ký tự CHAR
        SET @ID = 'I' + RIGHT('000' + CAST(@NewID AS VARCHAR(4)), 4)
    RETURN @ID
END
GO
-- INSERT SUPPLY_FORM
USE HotelManagement
go
CREATE
--ALTER
PROC USP_AddSUPLLYFORM(
	@ID_INFORMATION_FORM CHAR(5),
	@GROUP_NAME NVARCHAR(20),
	@REGISTERED_NAME NVARCHAR(20),
	@GROUP_SIZE INT
)
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(EXISTS (SELECT ID_INFORMATION_FORM FROM SUPPLY_FORM WHERE ID_INFORMATION_FORM = @ID_INFORMATION_FORM))
		BEGIN
			ROLLBACK TRAN
			RETURN 0
		END
	END TRY

	BEGIN CATCH
		print(N'Thông tin không hợp lệ')
		ROLLBACK TRAN
	END CATCH
	INSERT INTO SUPPLY_FORM VALUES(@ID_INFORMATION_FORM,@GROUP_NAME,@REGISTERED_NAME,@GROUP_SIZE)
COMMIT
GO

---------------------------------------------
-- INSERT BOOKING_ROOM
USE HotelManagement
go
CREATE
--ALTER
PROC USP_AddBOOKINGROOM(
	@ID_BOOKING CHAR(10),
	@ID_ROOM CHAR(4)
)
AS
BEGIN TRANSACTION
	BEGIN TRY
		IF(EXISTS (SELECT ID_BOOKING FROM BOOKING_ROOM WHERE ID_BOOKING = @ID_BOOKING))
		BEGIN
			ROLLBACK TRAN
			RETURN 0
		END
	END TRY

	BEGIN CATCH
		print(N'Thông tin không hợp lệ')
		ROLLBACK TRAN
	END CATCH
	INSERT INTO BOOKING_ROOM VALUES(@ID_BOOKING,@ID_ROOM)
COMMIT
GO
----------------------------
-- INSERT RESERVATION_FORM
USE HotelManagement
go
CREATE
--ALTER
PROC USP_UpdateRESERVATION_ROOM(
	@ID_ROOM CHAR(4),
	@ARRIVAL_DATE DATETIME,
	@DEPARTURE_DATE DATETIME
)
AS
BEGIN TRANSACTION
	UPDATE RESERVATION_ROOM 
	SET ARRIVAL_DATE = @ARRIVAL_DATE, DEPARTURE_DATE = @DEPARTURE_DATE
	WHERE ID_ROOM = @ID_ROOM;
COMMIT
GO
-------------
-------------
---------------------------------------
-- TAO ID BILL TU DONG
 
USE HotelManagement
go
CREATE
--ALTER
FUNCTION CREATE_IDBILL()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @ID CHAR(5)
	IF(NOT EXISTS (SELECT *
				   FROM BILL))
	BEGIN
		SET @ID = 'B0000'
		RETURN @ID
	END
	ELSE
	BEGIN
		SELECT @ID = ID_BILL 
        FROM BILL
        WHERE CAST(SUBSTRING(ID_BILL, 2, 4) AS INT) = (SELECT MAX(CAST(SUBSTRING(ID_BILL, 2, 4) AS INT)) FROM BILL)
	END
	 -- Tăng giá trị lên 1
        DECLARE @NewID INT
        SET @NewID = CAST(SUBSTRING(@ID, 2, 4) AS INT) + 1
        
        -- Chuyển đổi giá trị thành chuỗi ký tự CHAR
        SET @ID = 'B' + RIGHT('000' + CAST(@NewID AS VARCHAR(4)), 4)
    RETURN @ID
END
GO
-- INSERT BILL
USE HotelManagement
go
CREATE
--ALTER
PROC USP_AddBILL(
	@ID_BILL CHAR(5),
	@STATUS NVARCHAR(20),
	@ROOM_PRICE INT,
	@TOTAL_PRICE INT,
	@PAYMENT_METHODS NVARCHAR(20),
	@FORM_CREATOR CHAR(5),
	@CUSTOMER CHAR(5)
	)
AS
BEGIN TRANSACTION
	SET @ID_BILL = DBO.CREATE_IDBILL()
	INSERT INTO BILL VALUES(@ID_BILL,@STATUS,@ROOM_PRICE,@TOTAL_PRICE,@PAYMENT_METHODS,@FORM_CREATOR,@CUSTOMER)
COMMIT
GO

----------------------------



USE HotelManagement
GO
-- proc get list of room
CREATE PROC usp_getRoomList
--ALTER PROC usp_getRoomList
AS 
BEGIN
	SELECT * FROM ROOM
END
GO
-- proc get list of customer
CREATE PROC usp_getCustomerList
--ALTER PROC usp_getCustomerList
AS
BEGIN
	SELECT * FROM CUSTOMER
END
GO
-- proc get list of waiting customer
CREATE PROC usp_getWaitingList
--ALTER PROC usp_getWaitingList
AS
BEGIN 
	SELECT * FROM WAITING_LIST 
END
GO

-- proc get detail infor of customer form CUSTOMER and INFORMATION_FORM
CREATE PROC usp_getCustomerDetail
--ALTER PROC usp_getCustomerDetail
(@ID_INFORMATION_FORM CHAR(5))
AS
BEGIN
	SELECT CT.*, INF.ARRIVAL_DATE, INF.NUMBER_ROOMS, INF.NUMBER_STAYS, INF.SPECIAL_REQUIREMENTS, INF.TYPE
	FROM CUSTOMER CT
	JOIN INFORMATION_FORM INF
	ON CT.ID_INFORMATION_FORM = INF.ID_INFORMATION_FORM
	WHERE CT.ID_INFORMATION_FORM = @ID_INFORMATION_FORM;
END

------------------------------------------------------------
use HotelManagement 
go
-- Procedure check if customer has exist in database
-- Input: IDENTIFY_CARD
-- Output: 1 if existed, 0 if not existed
CREATE PROC usp_checkExistedCustomer
--ALTER PROC usp_checkExistedCustomer
(@IDENTIFY_CARD CHAR(14))
AS
BEGIN
SELECT COUNT (*) AS EXIST 
FROM CUSTOMER 
WHERE IDENTIFY_CARD = @IDENTIFY_CARD
END
go
------------------------------------------------------------
-- Code select infor of customer
-- Input: IDENTIFY_CARD
-- Output: PhoneNumber, Email, Gender, Birthday
USE HotelManagement
GO
CREATE PROC usp_getExistedCustomer
--ALTER PROC usp_getExistedCustomer
(@IDENTIFY_CARD CHAR(14))
AS
BEGIN
	SELECT ID_CUSTOMER, IDENTIFY_CARD, NAME, PHONE, EMAIL, GENDER, BIRTHDAY 
	FROM CUSTOMER
	WHERE IDENTIFY_CARD = @IDENTIFY_CARD
END
GO
